# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cấu hình môi trường (NHẠY CẢM - KHÔNG ĐẨY LÊN GIT)
.env

# Môi trường ảo (Virtual Environments)
venv/
.venv/
env/
ENV/
bin/
lib/
include/

# Dữ liệu ứng dụng và File nặng (data/, models/, logs/)
data/
models/
logs/
*.bak
*.log

# Cấu hình IDE (VS Code, PyCharm)
.vscode/
.idea/

# Docker rác
.dockerignore
Dockerfile.save

# Hệ điều hành
.DS_Store
Thumbs.db
